<!DOCTYPE html>
<html>
<head>
    <title>Monster slayer</title>
    <script src="https://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <v-card>
                    <v-card-text>
                        <h1 class="text-center">YOU</h1>
                        <div class="healthbar">
                            <div 
                                class="healthbar text-center"
                                style="background-color: green; margin: 0; color: white;"
                                :style="{width: playerHealth + '%'}"
                                >{{ playerHealth }}
                            </div>
                        </div>
                    </v-card-text>
                </v-card>
            </div>
            <div class="small-6 columns">
                <v-card>
                    <v-card-text>
                        <h1 class="text-center">MONSTER</h1>
                        <div class="healthbar">
                            <div 
                                class="healthbar text-center"
                                style="background-color: green; margin: 0; color: white;"
                                :style="{width: monsterHealth + '%'}"
                                >{{ monsterHealth }}
                            </div>
                        </div>
                    </v-card-text>
                </v-card>
            </div>
        </section>
        <section class="row controls" v-if="showStartPanel">
            <div class="small-12 columns">
                <v-btn 
                    primary dark
                    class="green lighten-1"
                    @click.native="startGame"
                    >START NEW GAME</v-btn>
            </div>
        </section>
        <section class="row controls" v-if="showMainPanel">
            <div class="small-12" v-if="!attachDisabled">
                <v-btn 
                    primary dark
                    class="red accent-4"
                    @click.native="attack"
                    >ATTACK
                </v-btn>
                <v-btn 
                    primary dark 
                    class="deep-orange darken-1"
                    @click.native="specialAttack"
                    >SPECIAL ATTACK
                </v-btn>
                <v-btn
                    primary dark
                    class="light-green darken-2"
                    @click.native="heal"
                    >HEAL
                </v-btn>
                <v-btn
                    primary dark
                    class="grey lighten-1"
                    @click.native="giveUp"
                    >GIVE UP
                </v-btn>
            </div>
            <div class="small-12" v-else>
                <v-progress-circular 
                    indeterminate 
                    v-bind:size="70" 
                    v-bind:width="7" 
                    class="purple--text"
                />
            </div>
        </section>
        <section class="row controls" v-if="gameOver">
            <div class="small-12 columns">
                <v-btn
                    primary dark
                    class="pink lighten-2"
                    @click.native="startGame"
                    >TRY AGAIN
                </v-btn>
                <v-btn
                    primary dark
                    class="lime lighten-1"
                    @click.native="getStatistic"
                    >STATISTIC
                </v-btn>
            </div>
        </section>
        <section class="row log" v-if="showLog">
            <div class="small-12 columns">
                <ul>
                    <li 
                        v-for = "turn in turns"
                        :class = "setClass(turn.classFlag)"
                        >{{ turn.text }}
                    </li>
                </ul>
            </div>
        </section>
        <section class="row log" v-if="showStatistic">
            <div class="small-12 columns">
                <ul>
                    <li 
                        v-for = "stat in stats"
                        >{{ stat.text }}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>
</html>